body {
    background-color: antiquewhite;
}

.overzichtsafbeelding {
    width: 100%;
    min-height: 300px;
    object-fit: contain;
}

.detailafbeelding {
    width: 500px;
}
.icoon {
    width: 50px;
}